h1{
    color: darkred;
}


.programmer{
    color: yellow;
}
.work{
    color: chartreuse;
    font-size: 60px;
}

#unique{
    color: chocolate;
}

body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}