<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Video list</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <p th:text="${video.getName()}"></p>
    <p th:text="${video.getUrl()}"></p>

    <iframe width="560" height="315" th:src="${video.getUrl()}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <h1><a href="/">Dodaj kolejne video</a></h1>

</body>
</html>